<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Cliente</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
<h1 th:text="${cliente.id != null ? 'Editar Cliente' : 'Novo Cliente'}"></h1>

<form th:action="@{/clientes}" th:object="${cliente}" method="post">
    <input type="hidden" th:field="*{id}" />

    <label>Nome:</label>
    <input type="text" th:field="*{nome}" /><br/>

    <label>Email:</label>
    <input type="email" th:field="*{email}" /><br/>

    <button type="submit">Salvar</button>
</form>

</body>
</html>
